<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
    $(function () {
    	$.getJSON("https://api.darksky.net/forecast/*/35.103,138.8598?units=si&lang=ja&exclude=minutely,hourly,daily,alerts,flags", function (data) {
       
	        //if (!data.cod || data.cod != 200) {
	        //    return;
	        //}

	        $("#desc").text(data.currently.summary);
	        $("#temp").text(data.currently.temperature);
	        $("#name").text("沼津");
	        $("#today").text();
	        //var id = data.weather[0].id;
	        //var unixTime = Math.floor((new Date()).getTime() / 1000);
	        //if (data.sys.sunrise <= unixTime && unixTime <= data.sys.sunset) {
	        //    $("#icon").addClass("wi-owm-day-" + id);
	        //} else {
	        //    $("#icon").addClass("wi-owm-night-" + id);
	        //}

	        $("#weather").show();
    	});
	});
  </script>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <div id="today" class="text-primary text-center"></div>
            <div id="weather" class="text-center" style="display:none;">
                <div class="weather-info">
                    <i class="wi" id="icon"></i>
                    <span id="temp"></span><i class="wi wi-celsius"></i>
                </div>
                <ul class="list-inline">
                    <li id="name"></li>
                    <li id="desc"></li>
                </ul>
            </div>
        </div>
      <div class="header">
        <h3 class="text-muted">{{title}}</h3>
      </div>
		<div class="row">
		    <div class="col-md-6">
		        <h2>aaa</h2>
		        <p>
		        </p>
		        <p>a</p>
		    </div>
		    <div class="col-md-6">
		        <h2>bbb</h2>
		        <p>
		        </p>
		        <p>b</p>
		    </div>
		</div>
    </div>

  </body>
</html>