<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <style>
        h1.ff,p.ff{
        font-family: 'Orbitron', sans-serif;
        color:antiquewhite;
        }
        body{
            background-color:midnightblue;
            color:antiquewhite;
        }
    </style>

    <script src="static/js/darksky.secret.js"></script>
    <script src="static/js/skycons.js"></script>
    
    <script>
    const tenki = {
        "clear-day":"static/img/010701sonota107-trans.png",
        "clear-night":"",
        "rain":"static/img/010701sonota118-trans.png",
        "snow":"", 
        "sleet":"", 
        "wind":"", 
        "fog":"", 
        "cloudy":"static/img/010701sonota113-trans.png", 
        "partly-cloudy-day":"static/img/010701sonota147-trans.png", 
        "partly-cloudy-night":"",
        "hail":"", 
        "thunderstorm":"", 
        "tornado":""
    };
    const skycons = new Skycons({"color": "white"});
    for (let i=0; i<4; i++){
                skycons.add("#d"+i+"-icon", Skycons.PARTLY_CLOUDY_DAY);
            }

    function tenkiload(){
    $(function () {
        $.getJSON("/api",
            function (data) {
            let tmp = 0.0;
            let ht = null;
            
            
            $("#desc").text(data.daily.summary);
            
            
            let dat=null;
            for (let i=0; i<4; i++){
                //$("#d"+i+"-icon").children('img').attr('src', tenki[data.daily.data[i].icon]);
                skycons.set("#d"+i+"-icon", Skycons.PARTLY_CLOUDY_DAY);
                $("#d"+i+"-desc").text(data.daily.data[i].summary);
                $("#d"+i+"-temphigh").text(Math.round(data.daily.data[i].temperatureHigh*10)/10+"℃");
                $("#d"+i+"-templow").text(Math.round(data.daily.data[i].temperatureLow*10)/10+"℃");
                dat=new Date(data.daily.data[i].time*1000);
                $("#d"+i+"-date").text(`${(dat.getMonth()+1)}/${dat.getDate()}`);
            }

            let j=0;
            for (let i=0; i<5; i++){
                ht=new Date(data.hourly.data[j].time*1000);
                $("#h"+i+"-time").text(`${ht.getHours()}:00`);
                $("#h"+i+"-temp").text(Math.round(data.hourly.data[j].temperature*10)/10+"℃");
                $("#h"+i+"-sum").text(data.hourly.data[j].summary);
                j=j+3;
            }

            skycons.play();
        });
    });
    };
    tenkiload();
    setInterval('tenkiload()',900000);//15分に1回

    function showClock2() {
        let nowTime = new Date();
        $("#RealtimeClockArea").text(`${('00'+nowTime.getHours()).slice(-2)}:${('00'+nowTime.getMinutes()).slice(-2)}:${('00'+nowTime.getSeconds()).slice(-2)}`);
        $("#DayArea").text(`${(nowTime.getMonth()+1)}/${nowTime.getDate()}`);
    };
    setInterval('showClock2()',1000);
 </script>
  </head>
  <body>
    <div class="page-header">
        <div class="container">
            <h1 class="ff" id="RealtimeClockArea" align="center"> </h1>
            <p class="ff" id="DayArea" align="center"></p>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>小田原</h4>
          <p id="desc"></p>
        </div>
      </div>
      <div class="row">
            {% for i in [0,1,2,3] %}
            <div class="col-md-3">
                <h2><span id="d{{i}}-date"></span></h2>
                <canvas id="d{{i}}-icon" width="64" height="64"></canvas>
                <h4>
                <span class="label label-danger" id="d{{i}}-temphigh"></span>
                <span class="label label-info" id="d{{i}}-templow"></span>
                </h4>
                <p id="d{{i}}-desc"></p>
            </div>
            {% endfor %}
      </div>
      <div class="row">
        これからの天気
      </div>
      <div class="row">
            {% for i in [0,1,2,3,4] %}
            <div class="col-md-2">
                <h4 id="h{{i}}-time"></h4>
                <span id="h{{i}}-sum"></span>(<span id="h{{i}}-temp"></span>)
            </div>

            {% endfor %}
            <!--
            <div class="col-md-2">
                <h4 id="h1-time"></h4>
                <span id="h1-sum"></span>(<span id="h1-temp"></span>)
            </div>
            <div class="col-md-2">
                <h4 id="h2-time"></h4>
                <span id="h2-sum"></span>(<span id="h2-temp"></span>)
            </div>
            <div class="col-md-2">
                <h4 id="h3-time"></h4>
                <span id="h3-sum"></span>(<span id="h3-temp"></span>)
            </div>
            -->
      </div>
    </div>

  </body>
  <script>
      skycons.play();

  </script>
</html>