<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
    <style>
        h1.ff,
        p.ff {
            font-family: 'GN-キルゴUかなNA', 'Lekton', sans-serif;
        }
    </style>

    <script src="static/js/darksky.secret.js"></script>
    <script src="static/js/skycons.js"></script>

    <script>
        const tenki = {
            "clear-day": "static/img/clear-day.png",
            "clear-night": "static/img/clear-day.png",
            "rain": "static/img/rain.png",
            "snow": "static/img/snow.png",
            "sleet": "static/img/sleet.png",
            "wind": "static/img/wind.png",
            "fog": "static/img/fog.png",
            "cloudy": "static/img/cloudy.png",
            "partly-cloudy-day": "static/img/partly-cloudy-day.png",
            "partly-cloudy-night": "static/img/partly-cloudy-night.png",
            "hail": "static/img/hail.png",
            "thunderstorm": "static/img/thunderstorm.png",
            "tornado": "static/img/tornado.png"
        };
        const youbi = ["日", "月", "火", "水", "木", "金", "土"];

        var skycons = new Skycons({ "color": "white" });
        for (let i = 0; i < 4; i++) {
            skycons.add("#d" + i + "-icon", Skycons.PARTLY_CLOUDY_DAY);
        }

        function tenkiload() {
            axios.get("/api").then(response => {
                let tmp = 0.0;
                let ht = null;


                $("#desc").text(response.data.daily.summary);


                let dat = null;
                for (let i = 0; i < 4; i++) {
                    $("#d" + i + "-icon").children('img').attr('src', tenki[response.data.daily.data[i].icon]);
                    //skycons.set("#d" + i + "-icon", Skycons.PARTLY_CLOUDY_DAY);
                    $("#d" + i + "-desc").text(response.data.daily.data[i].summary);
                    $("#d" + i + "-temphigh").text(Math.round(response.data.daily.data[i].temperatureHigh * 10) / 10 + "℃");
                    $("#d" + i + "-templow").text(Math.round(response.data.daily.data[i].temperatureLow * 10) / 10 + "℃");
                    dat = new Date(response.data.daily.data[i].time * 1000);
                    $("#d" + i + "-date").text(`${(dat.getMonth() + 1)}/${dat.getDate()}(${youbi[dat.getDay()]})`);
                }

                let j = 0;
                for (let i = 0; i < 5; i++) {
                    ht = new Date(response.data.hourly.data[j].time * 1000);
                    $("#h" + i + "-time").text(`${ht.getHours()}:00`);
                    $("#h" + i + "-temp").text(Math.round(response.data.hourly.data[j].temperature * 10) / 10 + "℃");
                    $("#h" + i + "-sum").text(response.data.hourly.data[j].summary);
                    j = j + 3;
                }

                skycons.play();
            });
        };
        tenkiload();
        setInterval('tenkiload()', 900000);//15分に1回

        function showClock2() {
            let nowTime = new Date();
            $("#RealtimeClockArea").text(`${('00' + nowTime.getHours()).slice(-2)}:${('00' + nowTime.getMinutes()).slice(-2)}:${('00' + nowTime.getSeconds()).slice(-2)}`);
            $("#DayArea").text(`${(nowTime.getMonth() + 1)}/${nowTime.getDate()}(${youbi[nowTime.getDay()]})`);
        };
        setInterval('showClock2()', 1000);
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="ff" id="RealtimeClockArea" align="left""> </h1>
                <p class=" ff" id="DayArea"
                    align="left">
                    </p>
            </div>
            <div class="col-md-4">
                <h4>小田原</h4>
                <p id="desc"></p>
            </div>
        </div>
        <div class="row">
            (% for i in [0,1,2,3] %)
            <div class="col-md-3 ">
                <div class="">
                    <div>
                        <span id="d((i))-icon"><img></img></span>
                        <h2><span id="d((i))-date"></span></h2>
                        <span class="badge badge-danger" id="d((i))-temphigh"></span>
                        <br />
                        <span class="badge badge-info" id="d((i))-templow"></span>
                        <p id="d((i))-desc"></p>
                    </div>
                </div>

            </div>
            (% endfor %)
        </div>
        <div class="row">
            これからの天気
        </div>
        <div class="d-flex justify-content-around">
            (% for i in [0,1,2,3,4] %)
            <div class="">
                <h4 id="h((i))-time" align="center"></h4>
                <p align="center">
                    <span id="h((i))-sum"></span><br /><span id="h((i))-temp"></span>
                </p>
            </div>

            (% endfor %)
        </div>
    </div>

</body>

</html>