<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm">
-->
    <link rel="stylesheet" href="/static/css/bootstrap4-neon-glow.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/dseg.css" />
    <style>
        @font-face {
        font-family: "kilgo";
        src: url("/static/fonts/GN-KillGothic-U-KanaNB.woff2") format('woff2');
        }
        .ff {
            font-family: 'kilgo', 'Lekton', sans-serif;
        }
        .templow{
            color:darkgrey;
        }
    </style>

    <script src="static/js/darksky.secret.js"></script>

    <script src="static/js/tenki.js"></script>
    <script>
        tenkiload();
        setInterval('tenkiload()', 1800000);//30分に1回
    </script>
    <script>
        $(function () {

            // show popupボタンクリック時の処理
            $('#showtokyo').click(function (e) {
                $('#popuptokyo, #layer').show();
            });
            // show popupボタンクリック時の処理
            $('#shownumazu').click(function (e) {
                $('#popupnumazu, #layer').show();
            });

            // レイヤー/ポップアップのcloseボタンクリック時の処理
            $('#close, #layer').click(function (e) {
                $('#popuptokyo, #popupnumazu, #layer').hide();
            });

        });
    </script>
    <style>
        #layer {
            display: none;  /* 初期表示は非表示 */
            position: fixed; 
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color:coral;
            opacity: 0.20;
        }
        #popuptokyo,#popupnumazu {
            display: none;  /* 初期表示は非表示 */
            position: fixed; 
            left: 50%;
            top: 0%;
            width: 50%;
            height: 100%;
            /*margin-left: -150px;
            margin-top: -100px;*/
            background-color:black;
            border-radius: 5px;
            text-align: center;
        }
    </style>

    <script src="/static/js/clock.js"></script>
    <link rel="stylesheet" href="/static/css/clock.css" />

</head>

<body onload="updateTimer()">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <br />
                <h1 class="ff" id="RealtimeClockArea" align="left""> </h1>
                        <h2 class=" ff" id="DayArea"
                    align="left">
                    </h2>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="Clock-Wrapper">
                    <span class="Clock-Time-Background D7MBI">88:88<span style="font-size:30px;">88</span></span>
                    <span id="DSEGClock" class="Clock-Time-Front D7MBI"></span>
                    <span class="Clock-Year-Background"><span class="D7MI">2088-88-88</span><span class="D14MI"> ~~~</span></span>
                    <span id="DSEGClock-Year" class="Clock-Year-Front"></span>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="d-flex justify-content-around">
                    <h4 class="ff">小田原</h4>
                    <h4 id="showtokyo" class="ff">東京</h4>
                    <h4 id="shownumazu" class="ff">沼津</h4>
                </div>
                <p id="desc"></p>
            </div>
        </div>
        <div class="row">
            (% for i in [0,1,2,3] %)
            <div class="col-md-3">
                <div class="">

                    <h4 align="center"><span id="d((i))-date" class="ff"></span></h4>
                    <div class="row">
                        <div class="col-md-8">
                            <span id="d((i))-icon"><img></img></span><br />
                        </div>
                        <div class="col-md-4">
                            <span class="" id="d((i))-temphigh"></span>

                            <span class="templow" id="d((i))-templow"></span>
                        </div>
                    </div>

                    <p id="d((i))-desc"></p>

                </div>

            </div>
            (% endfor %)
        </div>
        <div class="d-flex justify-content-around">
            <div class="align-self-center">
                <p class="ff">
                    これからの天気
                </p>
            </div>
            (% for i in [0,1,2,3,4] %)
            <div class="">
                <h4 id="h((i))-time" align="center"></h4>
                <p align="center">
                    <span id="h((i))-sum"></span><br /><span id="h((i))-temp"></span>
                </p>
            </div>

            (% endfor %)
        </div>
    </div>

    <!-- レイヤー -->
    <div id="layer"></div>
    <!-- ポップアップ -->
    <div id="popuptokyo">
        <div class="row">
            <div class="col-md-12 ">
                <h4 class="ff">東京</h4>
                <div class="d-flex justify-content-around">
                    (% for i in [0,1] %)
                    <div>
                        <h4 id="t((i))-date">10/10(水)</h4>
                        <span id="t((i))-icon"><img></img></span><br />
                        <span id="t((i))-temphigh">high</span> <span id="t((i))-templow" class="templow">low</span>
                        <div id="t((i))-desc">
                            tenki
                        </div>
                    </div>
                    (% endfor %)
                </div>
            </div>
        </div>
        <br />
        <p class="ff">これからの天気</p>
        <div class="d-flex justify-content-around">
            (% for i in [0,1,2,3] %)
            <div class="">
                <h4 id="th((i))-time" align="center">10:00</h4>
                <p align="center">
                    <span id="th((i))-sum">tenki</span><br /><span id="th((i))-temp">20℃</span>
                </p>
            </div>
            (% endfor %)
        </div>
        <br />
        <input type="button" id="close" value="close"></input>
    </div>
    <!-- ポップアップ -->
    <div id="popupnumazu">
        <div class="row">
            <div class="col-md-12 ">
                <h4 class="ff">沼津</h4>
                <div class="d-flex justify-content-around">
                    (% for i in [0,1] %)
                    <div>
                        <h4 id="n((i))-date">10/10(水)</h4>
                        <span id="n((i))-icon"><img></img></span><br />
                        <span id="n((i))-temphigh">high</span> <span id="n((i))-templow" class="templow">low</span>
                        <div id="n((i))-desc">
                            tenki
                        </div>
                    </div>
                    (% endfor %)
                </div>
            </div>
        </div>
        <br />
        <p class="ff">これからの天気</p>
        <div class="d-flex justify-content-around">
            (% for i in [0,1,2,3] %)
            <div class="">
                <h4 id="nh((i))-time" align="center">10:00</h4>
                <p align="center">
                    <span id="nh((i))-sum">tenki</span><br /><span id="nh((i))-temp">20℃</span>
                </p>
            </div>
            (% endfor %)
        </div>
        <br />
        <input type="button" id="close" value="close"></input>
    </div>
</body>

</html>